# File types
*.swo
*.swp
*.bak
*.out
*.tmp
*.log
*~
*.backup*
*.bak*

# Specific folders
build/
.vscode/
tests/config/replaced
tmp/

# Specific files
webserv
webserv_dev
log*
tests/website/*.txt
*100mb*
