# File types
*.swo
*.swp
*.bak
*.out
*.tmp
*.log
*~
*.backup*
*.bak*

# Specific folders
build/
.vscode/
tests/config/replaced
tmp/

# Specific files
webserv
webserv_dev
webserv_42
log*
tests/website/*.txt
!tests/website/put_test.txt
tests/*[0-9][gGmMkK][bB]
