server {
	listen 8080;
	root /home/fpapadak/webserv/tests/website;

	location / {
		allowed_methods GET;
	}

	location /post_body {
		allowed_methods POST;
		client_max_body_size 100;
	}

	location /directory/ {
		allowed_methods GET;
		index YoupiBanane/youpi.bad_extension;
		autoindex on;
	}

	error_page 404 errors/404.html;
}