server {
	listen 8080;
	root /home/fpapadak/webserv/tests/website;
	
	location / {
		limit_except GET;
	}

	location /post_body {
		limit_except POST;
		client_max_body_size 100;
	}

	location /directory/ {
		limit_except GET;
		index YoupiBanane/youpi.bad_extension;
		autoindex on;
	}

	error_page 404 errors/404.html;
}