server {

	listen 8080;
	root /home/edouard/Projects/webserv/tests/website;
	error_page 404 errors/404.html;

	location / {
		index home.htm;
	}
	# localhost:8080 -> 200 (/home.htm with css, image and font)
	# localhost:8080/invalid -> 404 (errors/404.html)

	# INDEX & AUTOINDEX TESTS

	location /index {
		error_page 404 invalid;
	}
	# localhost:8080/index -> 200 (index/index.html)
	# localhost:8080/index/invalid -> 404 (Built-in 404 page)
	# localhost:8080/index/no-extension -> 200 (browser downloads file /index/no-extension)

	location /autoindex {}
	# localhost:8080/autoindex -> 200 (autoindex)

	location /autoindex/off {
		autoindex off;
	}
	# localhost:8080/autoindex/off -> 403 (forbidden)
	# localhost:8080/autoindex/off/invalid -> 404 (errors/404.html)

}