server {

	listen 8080;
	root /home/edouard/Projects/webserv/tests/website;
	error_page 404 errors/404.html;

	location / {
		index home.htm;
	}
	# / -> 200 (/home.htm)
	# /invalid -> 404 (errors/404.html)

	# INDEX & AUTOINDEX TESTS

	location /index {
		error_page 404 invalid;
	}
	# /index -> 200 (index/index.html)
	# /index/invalid -> 404 (Built-in 404 page)

	location /autoindex/on {}
	# /autoindex/on -> 200 (autoindex)

	location /autoindex/off {
		autoindex off;
	}
	# /autoindex/off -> 403 (forbidden)
	# /autoindex/off/invalid -> 404 (errors/404.html)

}