server {

	listen 8080;
	root /home/fpapadak/webserv/tests/website;
	error_page 404 errors/404.html;
	upload_store uploads;

	location / {
		index home.htm;
	}

	location /index {
		error_page 404 invalid;
	}

	location /autoindex {}

	location /autoindex/off {
		autoindex off;
	}

	location /redirect/perm {
		return 301 /redirect/perm.html;
	}

	location /redirect/tmp {
		return 302 /redirect/tmp.html;
	}

	location /cgi {
		cgi .php /usr/bin/php;
		cgi .py /usr/bin/python3;
	}
}