server {
	listen 8080;
	root /home/fpapadak/webserv/tests/YoupiBanane;

	location / {
		limit_except GET;
		client_max_body_size 100;
		autoindex off;
	}

	location /post_body {
		limit_except POST;
		client_max_body_size 100;
	}

	location /directory {
		limit_except GET;
		index YoupiBanane/youpi.bad_extension;
		autoindex on;
	}
}