server {
    listen 8080;
    server_name localhost;
    root /var/www/html;
    index index.html;

    # Test autoindex
    location /files/ {
        root /var/www;
        autoindex on;
    }

    # Test methods
    location /methods {
        limit_except GET POST;
    }

    # Test redirection
    location /redirect {
        return 301 /target;
    }

    location /target {
        return 200 "Redirect target\n";
    }

    # Test body size
    location /upload {
        #client_max_body_size 100;
    }
}

server {
	listen 80;
	root /var/;
	server_name localhost;
}