server {
    listen 8080;
    root /var/www/html;

    location / {
        root /var/www/html;
    }

    location /images {
        root /var/www/images;
		limit_except GET POST;
    }

	location /ima {}

    location /images/icons/ {
        root /var/www/icons;
    }

	location /images/test.jpg {
		root /var/html/images/test/;
	}

    location /cgi-bin/ {
        cgi .php /usr/bin/php83-cgi;
        cgi .py /usr/bin/python3;
    }
}
