server {
    listen 0.0.0.0:80 localhost:457;
    listen localhost:8080;
    root /home/edouard/Projects/webserv/tests/website/html;

    location / {}

    location /images {
        root /home/edouard/Projects/webserv/tests/website/images;
        limit_except GET POST DELETE;
        error_page 400 /400.html;
    }

    location /images/icons/ {
        root /home/edouard/Projects/webserv/tests/website/images/icons;
    }

    location /images/test.jpg {
        root /home/edouard/Projects/webserv/test_files/var/www/images;
    }

    location /cgi-bin/ {
        cgi .php /usr/bin/php-cgi;
        cgi .py /usr/bin/python3;
    }
}