server {
    listen 8080;
	listen localhost:443 1.1.1.1:80;

    root ./tests/website;
    index invalid.html index.html;
    error_page 404 /errors/404.html;

    # -----------------------
    # BASIC ROUTES
    # -----------------------
    location / {
		index invalid_override.html;
        autoindex off;
        limit_except GET;
    }

    location /dir/ {
        autoindex on;
        limit_except GET;
    }

    # -----------------------
    # UPLOAD AND DELETE TESTS
    # -----------------------
    location /upload {
        root ./tests/website/uploads;
        limit_except POST DELETE;
        client_max_body_size 1M; # limit for body size test
    }

    # -----------------------
    # CGI TESTS
    # -----------------------
    location /cgi-bin/ {
        cgi .py /usr/bin/python3;
		cgi .php /usr/bin/php-cgi;
        limit_except GET POST;
    }

    # -----------------------
    # REDIRECTION AND CUSTOM ERRORS
    # -----------------------
    location /redirect {
        return 301 http://localhost:8080/;
    }

    location /errors/ {
        root /absolute/path/to/www;
        limit_except GET;
    }

    # -----------------------
    # SECURITY
    # -----------------------
    location /forbidden {
        return 403;
    }
}
