server {
	listen 8080;
	root PATH_TO_WEBSERV_DIR/tests/website;

	location / {
		allowed_methods GET;
	}

	location /post_body {
		allowed_methods POST;
		client_max_body_size 100;
	}

	location /directory {
		allowed_methods GET POST;
		index youpi.bad_extension;
		autoindex off;
		cgi .bla PATH_TO_WEBSERV_DIR/tests/ubuntu_cgi_tester;
	}

	error_page 404 website/errors/404.html;
}