server {

	listen 8080;
	root PATH_TO_WEBSERV_DIR/tests/website;
	error_page 404 errors/404.html;
	upload_store uploads;

	location / {
		index home.htm;
		allowed_methods GET HEAD PUT DELETE;
	}

	location /index {
		error_page 404 invalid;
		allowed_methods GET HEAD PUT;
	}

	location /autoindex {
		allowed_methods GET HEAD PUT;
	}

	location /autoindex/off {
		autoindex off;
		allowed_methods GET HEAD PUT;
	}

	location /redirect/perm {
		return 301 /redirect/perm.html;
	}

	location /redirect/tmp {
		return 302 /redirect/tmp.html;
	}

	location /redirect/api-tmp {
		return 307 /cgi/test.py;
	}

	location /redirect/api-perm {
		return 308 /cgi/test.py;
	}

	location /cgi {
		cgi .php /usr/bin/php-cgi;
		cgi .py /usr/bin/python3;
	}
}

server {

	listen 8081;
	server_name test.com;
	root PATH_TO_WEBSERV_DIR/tests/website;
	error_page 404 errors/404.html;

	location / {
		index test_index.htm;
		allowed_methods GET HEAD;
	}
}

server {

	listen 8080;
	server_name example.com;
	root PATH_TO_WEBSERV_DIR/tests/website;
	error_page 404 errors/404.html;

	location / {
		index example_index.htm;
		allowed_methods GET HEAD;
	}
}
